---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "#" %>
  </p><!-- .doc -->
</div><!-- .welcome -->